<h1 class="text-center mt-4 mb-4"> Project2 Users Listing</h1>
<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>
<%= render 'users' %>
<div class="flickr_pagination mt-4 mb-4">
    <%= will_paginate @users, :container => false %>
</div>