<h1 class="text-center mt-4 mb-4">Edit Category Name</h1>

<div class="container">

<div class="row justify-content-center">
    <div class="col-sm-12">
        <%= render 'form' %>
    </div>
    <small ><%= link_to '[ Cancel and return Category ]', category_path  %></small>
</div>

</div>

